# Dependencias
node_modules/

# Directorio de salida de Eleventy
_site/

# Cache de Eleventy y otros
.cache/

# Archivos de configuración de VSCode
.vscode/

# Archivos de log
npm-debug.log*
*.log

# Archivos de sistema operativo
.DS_Store
